body {
  background-color: white;
  text-align: center;
  /* background-attachment: fixed; */
}

@font-face {
  font-family: 'hanna';
  src: url('../font/BMHANNA_11yrs_otf.otf');
}

* {
  font-family: 'hanna';
}
