.resultDiv {
  width: 45%;
  height: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.reset {
  margin: 10px auto;
  display: block;
}
